langchain
langchain-community
langchain_core
langgraph 
langchain_openai 
langchain_google_community
langchain-google-community[vertexaisearch]
langchain_xai
json_repair
jinja2
langchain_tavily
dotenv
langchain_experimental